header {
    background-color: #52822F;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button {
    border-radius: 4px;
    border: 2px solid white;
    color: white;
    padding: 8px 16px;
    background-color: plum;
    font-weight: bold;
    cursor: pointer;
}

button + button {
    margin-left: 8px;
}

.button-home {
    align-self: flex-start;
}

