.plant-card-container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 600px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}


.plant-card-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.plant-card-name-container{
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plant-card-img{
    width: 300px;
    height: 300px;
}

.plant-card-img:before {
    content: ' ';
    width: 300px;
    height: 300px;
    background-image: url("https://png.pngtree.com/png-vector/20190215/ourmid/pngtree-green-leaf-icon-graphic-design-template-vector-png-image_530815.jpg");
    display: block;
    position: absolute;
}

.plant-card-details-container p{
    margin: 2px;
}

.plant-card-light {
    display: flex;
    flex-direction: row;
    height: 10px;
    width: 150px;
}

.icon {
    width: 20px;
    height: 20px;
}


