@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@900&display=swap');

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 60px;
  padding: 16px 0;
  color: #242D26;
  text-align: center;
}

h2 {
  margin: 32px 0 24px 0;
  color: #242D26;
}

p {
  text-align: center;
}

.content {
  margin: 32px;
}


.loading-icon {
  width: 16px;
  height: 16px;
  animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

