@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@900&display=swap');

.text-form-container {
  display: flex;
  justify-content: center;
}

.text-form {
  display: flex;
  flex-direction: column;
  background-color: #52822F;
  padding: 32px;
  width: 300px;
  border-radius: 4px;
}

form label {
  margin: 4px 0;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 4px 8px;
  margin: 6px 0;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 60px;
  padding: 16px 0;
  color: #242D26;
  text-align: center;
}

h2 {
  margin: 32px 0 24px 0;
  color: #242D26;
}

p {
  text-align: center;
}

.content {
  margin: 32px;
}

button.form-button {
  width: 100%;
}

.loading-icon {
  width: 16px;
  height: 16px;
  animation: rotating 1.5s linear infinite;
}

.page-not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}
.page-not-found-container img{
  width: 400px;
  height: 400px;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

